<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mypar.gift">

    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".Function.TestService"
            android:stopWithTask="false" />

        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.Login_Activity">

        </activity>

        <service android:name=".Service.MyFirebaseIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Service.MyFirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Activity.Register_Activity" />
        <activity android:name=".Group.Group_Create_Activity" />
        <activity
            android:name=".Group.Group_Search_Activity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.mypar.gift.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".Group.Group_Main_Activity"
            android:label="@string/title_activity_group__main_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Group.Group_Thread_Activity" />
        <activity android:name=".Group.Group_Join_Management_Activity" />
        <activity android:name=".Group.User_Main_Activity" />
        <activity android:name=".Activity.Option_Activity" />
        <activity android:name=".Activity.MyProfile_Activity" />
        <activity android:name=".Activity.Account_Activity" />
        <activity android:name=".Group.User_Group_Info" />
        <activity android:name=".Group.Thread_Posting_Activity" />
        <activity android:name=".Activity.FAQ_Activity" />
        <activity android:name=".Activity.Pdf_Activity"/>
        <activity android:name=".Activity.Splash_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>